.secondary {
  background-color: var(--light-white);

  border-radius: 4px;
  overflow: auto;
}

.secondary .input {
  background: transparent;
  border: none;
  font-size: 1rem;
  padding: 8px;
}
.secondary .input::placeholder {
  color: gray;
}
.secondary .input:focus {
  outline: none;
}
