.iconTextButton {
  padding: 8px;
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
}

/*-- primary --*/
.light.primary,
.dark.primary {
  padding: 8px;
  border-radius: 8px;
}
.light.primary {
  background-color: var(--primary);
}

.dark.primary {
  background-color: var(--primary-light);
}
