* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #01dbb0;
  --primary-light: #6bffe1;
  --primary-dark: #02b893;
  --secondary-light: #498aeb;
  --secondary: #1a4789;
  --secondary-dark: #143464;
  --text-dark: #222;
  --text-light: #fafafa;
  --background-light: #fafafa;
  --background-dark: #222;
  --error-dark: rgb(197, 27, 27);
  --error: red;
  --error-light: rgb(241, 92, 92);
  --success: rgb(25, 177, 25);
  --success-dark: rgb(21, 139, 21);
  --success-light: rgb(83, 245, 83);
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}
input {
  border: none;
  background: none;
}
input:focus {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

html,
body {
  font-size: 16px;
}
